@font-face {
	font-family: DancingScript;
	src: url(../fonts/DancingScript-Regular.ttf);
}

@font-face {
	font-family: RalewayRegular;
	src: url(../fonts/Raleway-Regular.ttf);
}

body {
	background-color: #efefef;
	font-family: RalewayRegular;
	background-image: url(../imagens/fundo.jpg);   
    background-size:100%;
    background-repeat: repeat-y;
}

.layout-galeria {
	background-color: #fff;
	padding: 70px 0;
}

/*---===#@#===---===#@#===---===#@#===---===#@#===---===#@#===---===#@#===---===#@#===---===#@#===---===#@#===---*/



/*----------------------------------------------
     Botão
----------------------------------------------*/

.botao{
	float: right;	
	border:none;
	padding: 10px 30px;
	border-radius: 5px;
	color: #fff;
	font-size: 2rem;
	transition: all 0.5s ease-in;
	outline: none;
	position: relative;
	bottom: 0;	
	text-align: center;
	margin: 5px;
	
}

.botao:hover , .botao:focus {
	position: relative;
	bottom: 5px;
}

.botao--vermelho {
	background-color: #a93125;
}

.botao--vermelho:hover , .botao--vermelho:focus {
	background-color: #d82513;
	box-shadow:  0 5px 5px rgba(0, 0, 0, 0.15);
	color: #fff;
	text-decoration: none;
}

.botao--amarelo {
	background-color: #d0a75f;
}

.botao--amarelo:hover , .botao--amarelo:focus {
	background-color: #f1b245;
	box-shadow:  0 5px 5px rgba(0, 0, 0, 0.15);	
	color: #fff;
	text-decoration: none;
}

/*----------------------------------------------
     Galeria
----------------------------------------------*/

.galeria__botao {
	position: relative;
	margin: 10px 20px 10px 0;
    padding: 0;
    border: none;
    background: transparent;
}

.galeria__botao-imagem {	
	height: 250px;	
	transition: all 0.3s ease-in;
}

.galeria__botao:hover .galeria__botao-imagem {
	-ms-filter: grayscale(90%) blur(5px) brightness(0.2);
	-webkit-filter: grayscale(90%) blur(5px) brightness(0.2);
	filter: grayscale(90%) blur(5px) brightness(0.2);
}

.galeria__botao:hover , .galeria__botao:focus {
	outline: none;
}


.galeria__aviso {
	width: 95%;
	opacity: 0;
	transition: all 0.3s ease-in;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}

.galeria__botao:hover .galeria__aviso {
	opacity: 100;
}

.galeria__botao-texto {
	text-shadow: 1px 1px 1px #000;
	font-size: 1.3rem	
}

.galeria__botao-texto {
	color: #fff;
}

.galeria__imagem-original {
	max-width: 80%;
	margin: 70px 0;
    border: 1px solid rgba(255, 255, 255, 0.7);
    box-shadow: 2px 2px 200px 1px rgba(0, 0, 0, 0.66);
}

@media (max-width: 767px) {
	.galeria__botao {
		width: 100%;
		margin: 10px 0;
	}
	.galeria__botao-imagem {
		width: 100%;
		height: auto;
	}
}